bulld/*
build/**
__pycache__
__pycache__/*
__pycache__/**
*/__pycache__
**/__pycache__
jupyter_mssql.egg-info
jupyter_mssql.egg-info/*
jupyter_mssql.egg-info/**
dist
dist/*
dist/**
build
*.env
**.env
